* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.content {
    box-shadow: 10px 10px 25px #CFD4E1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: 500px;
    width: 700px;
    display: flex;
}

.left-box {
    background: rgb(55,44,217);
    background: linear-gradient(0deg, rgba(55,44,217,1) 0%, rgba(58,72,226,1) 35%, rgba(43,44,211,1) 100%);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-box h3 {
    color: rgb(235, 208, 238);
    font-weight: bold;
    margin-top: 30px;
}

.left-box h2 {
    color: white;
    font-weight: bold;
}

.result-text {
    max-width: 60%;
    color: rgb(235, 208, 238);
    margin-left: 70px;
}

.result {
    background: rgb(40,29,189);
    background: linear-gradient(180deg, rgba(40,29,189,1) 0%, rgba(58,72,226,1) 35%, rgba(43,44,211,1) 100%);
    border-radius: 100px;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 50px 0 20px 75px;
    padding: 10px;
}

.result h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin: 50px 0 0 0
}

.result p {
    color: rgb(235, 208, 238);
    margin: 0;
    font-size: small;

}

.right-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right-box h3 {
    max-height: 30%;
    padding-left: 12%;
    padding-top: 10%;
    flex-grow: 1;
    font-weight: bold;
}

.result-boxes {
    max-width: 70%;
    height: 60%;
    flex-grow: 2;
    margin-left: 12%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-boxes div {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    padding: 2% 5%;
    border-radius: 20px;
}

.reaction {
    background-color: rgb(252 155 155 / 0.31);
    color: rgb(236, 76, 76);
}

.memory {
    background-color: rgb(250 252 155 / 0.31);
    color: rgb(235, 196, 3);
}

.verbal {
    background-color: rgb(155 252 163 / 0.31);
    color: green;
}

.visual {
    background-color: rgb(155 157 252 / 0.31);
    color: rgb(2, 2, 195);
}

.result-numbers {
    color: rgb(152, 151, 151);
    font-weight: bold;
}

.result-numbers span {
    color: black;
    font-weight: bold;
}

.button-space {
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
}

.button {
    width: 70%;
    height: 70%;
    background-color: rgb(38, 38, 97);
    color: white;
    border: none;
    border-radius: 50px;
}